<div class="wrap">
  <div class="content">
    <div class="c1">

      <div class="logo-holder">
        <h1 class="logo"><a href="#" {{action "doHome"}}>{{t title}}</a></h1>
        <a href="http://api.speciesplus.net" class="top-links">Species+ / CITES Checklist API</a>
        <a href="#" {{action "doTermsOfUse"}} class="top-links">{{t toplink.terms}}</a>
        <a href="#" {{action "doAbout"}} class="top-links">{{t toplink.about}}</a>
        <div class="locale-selector top-links">
          <a href="#" {{action doLocaleEN}}>English</a>
          <a href="#" {{action doLocaleES}}>Español</a>
          <a href="#" {{action doLocaleFR}}>Français</a>
        </div>
      </div>

      <div class="header-frame">
        <h1>{{t about.title}}</h1>
      </div>

    </div>
  </div>

  <div class="aside">
  </div>
</div>
