<div class="country-holder">
  {{#each view.shortList}}
    <span class="appendix_{{unbound this.species_listing_name}}_population">{{unbound this.name}}</span>
  {{/each}}
  {{#if view.showMore}}
    {{t distribution.more.count countBinding="view.count"}}
    <a class="btn-saved">
      {{t distribution.see_all }}
      <div class="drop">
        <div class="drop-holder">
          <ul>
            {{#each view.content}}
              <li>
                <span class="appendix_{{unbound this.species_listing_name}}_population">
                  {{unbound this.name}}
                </span>
              </li>
            {{/each}}
          </ul>
        </div>
        <img src="/images/decor-dropdown-dark.png" class="decor" width="24" height="13" >
      </div>
    </a>
  {{/if}}
</div>
