<div class="custom-holder">
  <a href="#" class="btn-custom">{{t advanced.title}}</a>
  <div class="drop">
    <form action="#">
      <fieldset>
        <div class="row-holder">
          <strong class="heading">{{t advanced.common_names}}</strong>
          <div class="row">
              {{view Checklist.FilterCheckbox
                context="showEnglish"
                checkedBinding="controllers.filtersController.showEnglish"
                id="eng-checkbox"
                class="styled"
                controllerBinding="controllers.filtersController"
              }}
              <label for="eng-checkbox">{{t advanced.common_names.en}}</label>
          </div>
          <div class="row">
            {{view Checklist.FilterCheckbox
              context="showSpanish"
              checkedBinding="controllers.filtersController.showSpanish"
              id="spa-checkbox"
              class="styled"
              controllerBinding="controllers.filtersController"
            }}
            <label for="spa-checkbox">{{t advanced.common_names.es}}</label>
          </div>
          <div class="row">
            {{view Checklist.FilterCheckbox
              context="showFrench"
              checkedBinding="controllers.filtersController.showFrench"
              id="fre-checkbox"
              class="styled"
              controllerBinding="controllers.filtersController"
            }}
            <label for="fre-checkbox">{{t advanced.common_names.fr}}</label>
          </div>
        </div>

        <div class="row-holder">
          <strong class="heading">{{t advanced.online_view}}</strong>
          {{collection Checklist.SortingRadioButtons
            controllerBinding="controllers.filtersController"}}
        </div>

        <div class="row-holder style01">
          <strong class="heading">{{t advanced.display}}</strong>
          <div class="row">
            {{view Checklist.FilterCheckbox
              checkedBinding="controllers.filtersController.showSynonyms"
              context="showSynonyms"
              id="synonyms-checkbox"
              class="styled"
              controllerBinding="controllers.filtersController"
            }}
            <label for="synonyms-checkbox">{{t advanced.display.synonyms}}</label>
          </div>
          <div class="row">
            {{view Checklist.FilterCheckbox
              checkedBinding="controllers.filtersController.showAuthor"
              context="showAuthor"
              id="author-checkbox"
              class="styled"
              controllerBinding="controllers.filtersController"
            }}
            <label for="author-checkbox">{{t advanced.display.author_name}}</label>
          </div>
          <div class="row">
            {{view Checklist.UnfoldHistoryCheckbox
              checkedBinding="view.isChecked"
              id="history-checkbox"
              class="styled"
            }}
            <label for="history-checkbox">{{t advanced.display.unfold_history}}</label>
          </div>
        </div>
      </fieldset>
    </form>
    <img src="/images/decor-dropdown-dark.png" alt="image description" class="decor" width="24" height="13" >
  </div>
</div>
