{{#if controllers.taxonConceptController.taxaCount}}
  <div class="text-frame download-aside">
    <span>{{commaify controllers.taxonConceptController.taxaCount}}</span> taxa
    <h3>Download</h3>
  </div>
  <div class="btn-holder">
    <a id="index-download-btn" class="btn red" href="#index-downloads">Index</a>

    <div style="display:none">
      <div id="index-downloads" class="lightbox downloads">
        <div class="heading-holder">
          <strong class="heading">Download {{commaify
            controllers.taxonConceptController.taxaCount}} Taxa</strong>
        </div>
        <div class="text-holder">
          <h2>Download Full Checklist</h2>

          <a href="#" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="index" id="download" class="btn red"><strong>PDF</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="index" id="download" class="btn red"><strong>CSV</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="index" id="download" class="btn red"><strong>JSON</strong></a>
        </div>
        <div class="text-holder">
          <h2>Current Downloads</h2>

          {{collection Checklist.DownloadCollectionView
            contentBinding="controllers.downloadController.content"}}

        </div>
      </div>
    </div>

    <a id="history-download-btn" class="btn red" href="#history-downloads">History</a>

    <div style="display:none">
      <div id="history-downloads" class="lightbox downloads">
        <div class="heading-holder">
          <strong class="heading">Download {{commaify total_cnt}} Taxa</strong>
        </div>
        <div class="text-holder">
          <h2>Download Checklist History</h2>

          <a href="#" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="history" id="download" class="btn red"><strong>PDF</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="history" id="download" class="btn red"><strong>CSV</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="history" id="download" class="btn red"><strong>JSON</strong></a>
        </div>
        <div class="text-holder">
          <h2>Current Downloads</h2>

          {{collection Checklist.DownloadCollectionView
            contentBinding="controllers.downloadController.content"}}

        </div>
      </div>
    </div>
  </div>
  </div>
{{/if}}
