
  <div class="text-frame download-aside">
    <span class="count">{{commaify this}}</span> {{tt results.count countBinding="this"}}
    <h3>Download</h3>
  </div>
  <div class="btn-holder">
    <a id="index-download-btn" class="btn red" href="#index-downloads">Index</a>

    <div style="display:none">
      <div id="index-downloads" class="lightbox downloads">
        <div class="heading-holder">
          <strong class="heading">Download {{commaify this}} Taxa</strong>
        </div>
        <div class="text-holder">
          <a href="#" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="Index" id="download" class="btn red"><strong>PDF</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="Index" id="download" class="btn red"><strong>CSV</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="Index" id="download" class="btn red"><strong>JSON</strong></a>
        </div>
      </div>
    </div>

    <a id="history-download-btn" class="btn red" href="#history-downloads">History</a>

    <div style="display:none">
      <div id="history-downloads" class="lightbox downloads">
        <div class="heading-holder">
          <strong class="heading">Download {{commaify this}} Taxa's History</strong>
        </div>
        <div class="text-holder">
          <a href="#" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="History" id="download" class="btn red"><strong>PDF</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="History" id="download" class="btn red"><strong>CSV</strong></a>
          <a href="#" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="History" id="download" class="btn red"><strong>JSON</strong></a>
        </div>
      </div>
    </div>

  </div>

