<div class="text-frame">
  <strong>{{commaify this}}</strong> {{t results.count countBinding="this"}}
</div>
<div class="btn-holder">
  <a id="download-btn" class="btn red" href="#downloads">Download</a>

  <div style="display:none">
    <div id="downloads" class="lightbox downloads">
      <div class="heading-holder">
        <strong class="heading">Download {{commaify this}} Taxa</strong>
      </div>
      <div class="text-holder">
        <a href="#" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="Index" id="download" class="btn red"><strong>PDF</strong></a>
        <a href="#" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="Index" id="download" class="btn red"><strong>CSV</strong></a>
        <a href="#" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="Index" id="download" class="btn red"><strong>JSON</strong></a>
      </div>
    </div>
  </div>
</div>
