<h4>{{view.title}} <span>{{unbound format}}</span></span></h4>
<span class="display_name" style="display:block">{{unbound display_name}}</span>
<span class="info">{{unbound updated_at}}</span>
<span class="button">
  {{#if view.isDownloadable}}
    <a {{action "download" target="view" on="click"}} data-download-id="{{unbound id}}" href="#" class="btn red small">Download</a>
  {{else}}
    {{#if view.isFailed}}
    <span class="error">
      Failed.
      <p>
        <a href="#" {{action "deleteAndClose" target="view" on="click"}}>Remove?</a>
      </p>
    </span>
    {{else}}
      <img src="/images/downloads-spinner.gif" alt="Downloading..." title="Downloading..." />
    {{/if}}
  {{/if}}
</span>
