<div class="btn-holder">
  <a id="download-btn" class="btn red" href="#downloads">{{t downloads.button}}</a>

  <div style="display:none">
    <div id="downloads" class="lightbox downloads">
      <div class="heading-holder">
        <strong class="heading">{{t downloads.popup.title}}</strong>
      </div>
      <div class="text-holder">
        {{t downloads.popup.info}}

        <p>
          <a href="#generating-download" {{action "download" target="view" on="click"}} data-format="pdf" data-doc-type="Index" id="download" class="btn red"><strong>PDF</strong></a>
          <a href="#generating-download" {{action "download" target="view" on="click"}} data-format="csv" data-doc-type="Index" id="download" class="btn red"><strong>CSV</strong></a>
          <a href="#generating-download" {{action "download" target="view" on="click"}} data-format="json" data-doc-type="Index" id="download" class="btn red"><strong>JSON</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
