<h4>{{view.title}} <span>{{unbound format}}</span></span></h4>
<span class="display_name" style="display:block">{{unbound display_name}}</span>
<span class="info">{{unbound updated_at}}</span>
<span class="button">
  {{#if view.isDownloadable}}
    <a {{action "download" target="view" on="click"}} data-download-id="{{unbound id}}" href="#" class="btn red small">{{t download.button}}</a>
  {{else}}
    {{#if view.isFailed}}
    <span class="error">
      {{t download.failed}}
      <p>
        <a href="#" {{action "deleteAndClose" target="view" on="click"}}>{{t download.remove}}</a>
      </p>
    </span>
    {{else}}
      <img src="/images/downloads-spinner.gif" {{translateAttr title="download.spinner" alt="download.spinner"}} />
    {{/if}}
  {{/if}}
</span>
