<div class="id-manual-download">
  <ul class="dropdown-links">
    <li class="id-manual-download__drop-wrapper">
      <div class="id-manual-download__drop-link-wrapper">
        <span class="id-manual-download__drop-link-icon"></span>
        <a id="id-manual-download-btn" href="#download-id-manual" class="no-link">{{t id_download.link}}</a>
      </div>

      <div style="display:none">
        <div id="download-id-manual" class="lightbox downloads">
          <div class="heading-holder">
            <strong class="heading">{{t id_download.title}}</strong>
          </div>
          <div class="text-holder">
            {{#unless view.showVolumesDropdown}}
              <a 
                href="#generating-download"
                data-format="pdf" 
                data-doc-type="CITESIdManual" 
                id="download"
                class="id-manual-download__download-btn btn"
                {{action downloadAll target="view"}}
              >
                {{t id_download.download_manual}}
              </a>
              <div class="id-manual-download__divider">{{t id_download.or}}</div>
              <button class="id-manual-download__text-button" {{action toggleVolumesDropdown target="view"}}>
                {{t id_download.select_volumes}}
              </button>
            {{else}}
              <label 
                for="id-manual-volumes"
                class="id-manual-download__drop-title"
              >
                {{t id_download.select_volumes_long}}
              </label>
              {{view Checklist.MultiselectCheckboxView 
                id="id-manual-volumes" 
                class="id-manual-download__volumes" 
                optionsBinding="view.volumeOptions" 
                selectedBinding="view.selected"
              }}
              <a 
                href="#generating-download"
                data-format="pdf" 
                data-doc-type="CITESIdManual" 
                id="download"
                {{bindAttr class=":id-manual-download__download-btn :btn view.isDownloadSelectedDisabled:disabled"}}
                {{action downloadSelected target="view"}}
              >
                {{t id_download.download_selected }}
              </a>
              <div class="id-manual-download__divider">{{t id_download.or}}</div>
              <a 
                href="#generating-download"
                data-format="pdf" 
                data-doc-type="CITESIdManual" 
                id="download"
                class="id-manual-download__text-button"
                {{action downloadAll target="view"}}
              >
                {{t id_download.download_all}}
              </a>
            {{/unless}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>