  <div class="id-materials">
    <h3 class="id-materials__title">
      {{t id_materials.title}}
    </h3>
      <a 
        class="id-materials__download-button" 
        href="#generating-download" 
        data-format="pdf" 
        data-doc-type="CITESIdManual" 
        id="download" 
        {{action downloadIdManualEntries}}
      >
        {{t id_materials.download_button_text}} 
        <em class="italic bold">{{view.taxonConceptName}}</em>
      </a>

    {{#if view.idMaterials.length}}
      <div class="id-materials__additional-materials">
        <h3 class="id-materials__title">
          {{t id_materials.additional_materials_title}}
        </h3>
        <ul class="id-materials__links-container">
          {{#each view.idMaterials}}
            <li class="id-materials__link-row">
              <a class="id-materials__link" {{bindAttr href="this.url" title="this.title"}} target="_blank">{{this.title}}</a>
              <span class="id-materials__link-languages">{{this.languagesString}}</span>
              <a class="id-materials__link-icon" {{bindAttr href="this.url" title="this.title"}} target="_blank"></a>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>