<div class="btn-holder">
  <a class="btn">{{t locations.count countBinding="view.count"
    tagName=""}}</a>
  <div class="drop">
    <div class="drop-search">
      <fieldset>
        {{view Checklist.GeoEntityTextField
          valueBinding="controllers.filtersController.geoEntityName"
          id="geo_entity_name"
          title="search"
          placeholder="Type to filter countries or regions"
          autocomplete="off"
        }}
      </fieldset>

      <div class="selected-locations">
        <h3>Selected Locations</h3>
          {{collection Checklist.SelectedLocationsView
          contentBinding="controllers.filtersController.regions"
          locationType="regions"}}
          {{collection Checklist.SelectedLocationsView
          contentBinding="controllers.filtersController.countries"
          locationType="countries"}}
      </div>
    </div>
    <div class="drop-holder">
      <div class="scroll-area">
        <h3>Regions</h3>
          {{collection Checklist.LocationsCollectionView
          contentBinding="controllers.filtersController.autoCompleteRegionsContent"
          locationType="regions"}}

        <h3>Countries</h3>
          {{collection Checklist.LocationsCollectionView
          contentBinding="controllers.filtersController.autoCompleteCountriesContent"
          locationType="countries"}}
      </div>
      <div class="shadow"></div>
    </div>
    <img src="/images/decor-dropdown-dark.png" alt="image description" class="decor" width="24" height="13" >
  </div>
</div>
