{{#view Checklist.ChecklistForm controllerBinding="Checklist.taxonConceptController"}}
  <p>Filter by country:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "countryFilter"
    contentBinding = "Checklist.countriesController"
    selectionBinding = "Checklist.selectedGeoEntitiesController.countries"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}
<p>Selected countries:
{{#each Checklist.selectedGeoEntitiesController.countries}}
  {{name}}
{{/each}}
</p>
  <p>Filter by region:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "regionFilter"
    contentBinding = "Checklist.regionsController"
    selectionBinding = "Checklist.selectedGeoEntitiesController.regions"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}
  <p>Selected regions:
  {{#each Checklist.selectedGeoEntitiesController.regions}}
    {{name}}
  {{/each}}
  </p>
  <p>
  {{view Ember.Checkbox checkedBinding="taxonomicLayout"}} taxonomic layout
  </p>
  <button type="submit">Go</button>
{{/view}}
<ul>
{{#each Checklist.taxonConceptController.content}}
  <li>
  {{#if Checklist.taxonConceptController.taxonomicLayout }}
    <p class="level{{unbound depth}}">
  {{else}}
    <p>
  {{/if}}
      {{full_name}}
      <span class="listing">{{current_listing}}</span>
      <span class="family">{{family_name}}</span>
      <span class="class">{{class_name_abbr}}</span>
    </p>
  </li>
{{/each}}
</ul>
