<div class="wrap">
  <div class="content">
    <div class="c1">

      <div class="logo-holder">
        <h1 class="logo"><a href="/">{{t title}}</a></h1>
        <a href="#" {{action "doTermsOfUse"}} class="top-links">{{t toplink.terms}}</a>
        <a href="#" {{action "doAbout"}} class="top-links">{{t toplink.about}}</a>
      </div>

      <div class="header-frame">
        <div class="column-holder">
          <div class="column-frame">

            <div class="column">
              {{view Checklist.ChecklistForm
                controllerBinding="controllers.taxonConceptController"
                filtersControllerBinding="controllers.filtersController"}}
            </div>

            <div class="column">
              {{view Checklist.AppendixFormView
                contentBinding="controllers.filtersController.appendicesIds"
              }}
            </div>

            <div class="column style01">
              {{view Checklist.LocationsView
                regionsBinding="controllers.filtersController.regionsIds"
                countriesBinding="controllers.filtersController.countriesIds"
              }}
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="aside">
    {{view Checklist.CustomSearch}}
  </div>
</div>
