<div class="wrap">
  <div class="content">
    <div class="c1" id="loading">
    </div>
    {{#each controllers.taxonConceptController.content}}
      {{view Checklist.KingdomListView contentBinding="this"
        controllerBinding="controllers.filtersController"
      }}
    {{/each}}
  </div>

  <div class="aside" id="content-aside" style="display:none">
    {{view Checklist.DownloadView}}

    {{view Checklist.ReportView
      downloadControllerBinding="controllers.downloadController"}}

    {{view Checklist.SavedSearchView}}

    {{view Checklist.QuickLinksView}}

    {{view Checklist.IdManualDownloadView}}
  </div>
</div>

<a href="#landing" id="landing-btn" style="display:none;"></a>
<div style="display:none">
  <div id="landing" class="lightbox landing">
    <div class="heading-holder">
      <h1 class="logo">{{t title}}</h1>
    </div>
    <div class="text-holder">
      <div class="left-column">
        <p>
          {{t splash.p1}}
        </p>
        <p>
          {{t splash.p2}}
        </p>
        <p>
          <a href="#" {{action "closeLandingBox" target="view" on="click"}} class="btn">
            {{t splash.button}}
          </a>
        </p>
      </div>
      <div class="image">
        <div class="appendix-ind-1"></div>
        <div class="appendix-ind-2"></div>
        <div class="appendix-ind-3"></div>
      </div>
      <div class="locale-selector">
        <a href="#" {{action doLocaleEN target="view"}}>English</a>
        <a href="#" {{action doLocaleES target="view"}}>Español</a>
        <a href="#" {{action doLocaleFR target="view"}}>Français</a>
      </div>
    </div>
  </div>
</div>
