<header id="header">
  <div class="wrap">
    <div class="content">
      <div class="c1">

        <div class="logo-holder">
          <h1 class="logo"><a href="#">checklist</a></h1>
          <a href="#" class="top-links">About</a>
        </div>

        <div class="header-frame">
          <div class="column-holder">
            <div class="column-frame">

              <div class="column">
                <div class="search">
                  <fieldset>
                    <div class="search-holder">
                      <div class="search-frame">
                        {{view Checklist.SearchTextField
                          valueBinding="controllers.filtersController.scientificName"
                          id="scientific_name"
                          title="search"
                          placeholder="Species, taxon, synonym or common name..."
                        }}
                      </div>
                    </div>
                    <input type="submit" value="SEARCH" />
                  </fieldset>
                  <div class="drop" style="display: none;" id="autocomplete-dropdown">
                    <img src="images/img-decor1.png" alt="image description" class="decor" width="24" height="13" >
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="appendix-holder">
                  <a href="#" class="btn">
                    <span>
                      {{#view Ember.View}}
                        {{#each controllers.filtersController.appendices}}
                          {{abbreviation}},
                        {{/each}}
                      {{/view}}
                    </span>
                  </a>
                  <div class="drop">
                    <div class="drop-holder">
                      {{collection Checklist.AppendixFormView contentBinding="controllers.filtersController.appendicesContent"}}
                    </div>
                    <img src="images/img-decor2.png" alt="image description" class="decor" width="24" height="13" >
                  </div>
                </div>
              </div>

              <div class="column style01">
                <div class="btn-holder">
                  <a href="#" class="btn"><span>All Locations</span></a>
                  <div class="drop">
                    {{view Ember.View templateName="location_view"}}
                    <img src="images/img-decor2.png" alt="image description" class="decor" width="24" height="13" >
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="aside">
      {{view Checklist.CustomSearch}}
    </div>
  </div>
</header>

<section id="main">
  <div class="wrap">
    <div class="content">
      {{#each controllers.taxonConceptController.content}}
        {{view Checklist.KingdomListView contentBinding="this"
          filtersControllerBinding="controllers.filtersController"
        }}
      {{/each}}
    </div>

    <div class="aside">
      <div class="text-frame">
        <strong class="heading">4,201 <span>taxa</span></strong>
      </div>
      <div class="btn-holder">
        <a href="#downloads" id="download" class="btn red">Download</a>
        <div id="downloads" style="display: none;" class="lightbox downloads">
          <div class="heading-holder">
            <strong class="heading">Download 4,201 Taxa</strong>
          </div>
          <div class="text-holder">
            <a href="#downloads" id="download" class="btn red"><strong>PDF</strong></a>
            <a href="#downloads" id="download" class="btn red"><strong>CSV</strong></a>
            <a href="#downloads" id="download" class="btn red"><strong>JSON</strong></a>
          </div>
        </div>
      </div>
      {{view Checklist.SavedSearchView}}
    </div>
  </div>
</section>
