<header id="header">
  <div class="wrap">
    <div class="content">
      <div class="c1">

        <div class="logo-holder">
          <h1 class="logo"><a href="#">checklist</a></h1>
          <a href="#" class="top-links">About</a>
        </div>

        <div class="header-frame">
          <div class="column-holder">
            <div class="column-frame">

              {{#view Checklist.ChecklistForm
                controllerBinding="controllers.taxonConceptController"
                filtersControllerBinding="controllers.filtersController"}}
                <div class="column">
                  <div class="search">
                    <fieldset>
                      <div class="search-holder">
                        <div class="search-frame">
                          {{view Checklist.SearchTextField
                            valueBinding="controllers.filtersController.scientificName"
                            id="scientific_name"
                            title="search"
                            placeholder="Species, taxon or synonym..."
                          }}
                        </div>
                      </div>
                      <input type="submit" value="SEARCH" {{action "submit" target="view"}} />
                    </fieldset>
                    <div class="drop" style="display: none;" id="autocomplete-dropdown">
                      <img src="images/img-decor1.png" alt="image description" class="decor" width="24" height="13" >
                    </div>
                  </div>
                </div>
              {{/view}}

              <div class="column">
                {{view Checklist.AppendixFormView
                  contentBinding="controllers.filtersController.appendices"}}
              </div>

              <div class="column style01">
                <div class="btn-holder">
                  <a href="#" class="btn"><span>All Locations</span></a>
                  <div class="drop">
                    {{view Ember.View templateName="location_view"}}
                    <img src="images/img-decor2.png" alt="image description" class="decor" width="24" height="13" >
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="aside">
      {{view Checklist.CustomSearch}}
    </div>
  </div>
</header>

<section id="main">
  <div class="wrap">
    <div class="content">
      <div class="c1" id="loading">
        <img src="images/loading.gif" />
      </div>
      {{#each controllers.taxonConceptController.content}}
        {{view Checklist.KingdomListView contentBinding="this"
          filtersControllerBinding="controllers.filtersController"
        }}
      {{/each}}
    </div>

    <div class="aside">
      {{#each controllers.taxonConceptController.content}}
        {{view Ember.View
          templateName="download_view"
          contentBinding="this"}}
      {{/each}}
      {{view Checklist.SavedSearchView}}
    </div>
  </div>
</section>
