<div class="wrap">
  <div class="content">
    <div class="c1" id="loading">
    </div>
    {{#each controllers.taxonConceptController.content}}
      {{view Checklist.KingdomListView contentBinding="this"
        controllerBinding="controllers.filtersController"
      }}
    {{/each}}
  </div>

  <div class="aside" id="content-aside" style="display:none">
    {{#with controllers.taxonConceptController.taxaCount}}
      {{view Checklist.DownloadView}}
    {{/with}}

    {{view Checklist.ReportView}}

    {{view Checklist.SavedSearchView}}

    {{view Checklist.QuickLinksView}}
  </div>
</div>
