{{#view Checklist.ChecklistForm controllerBinding="Checklist.taxonConceptController"}}
  <p>Filter by country:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "countryFilter"
    contentBinding = "Checklist.countriesController"
    selectionBinding = "Checklist.selectedGeoEntitiesController.countries"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}
<p>Selected countries:
{{#each Checklist.selectedGeoEntitiesController.countries}}
  {{name}}
{{/each}}
</p>
  <p>Filter by region:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "regionFilter"
    contentBinding = "Checklist.regionsController"
    selectionBinding = "Checklist.selectedGeoEntitiesController.regions"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}
  <button type="submit">Go</button>
{{/view}}
<p>Selected regions:
{{#each Checklist.selectedGeoEntitiesController.regions}}
  {{name}}
{{/each}}
</p>

<ul>
{{#each Checklist.taxonConceptController.content}}
  <li>
    <p class="level{{unbound depth}}">
      {{full_name}}
    </p>
  </li>
{{/each}}
</ul>
