{{#view Checklist.ChecklistForm
  controllerBinding="controllers.taxonConceptController"
  filtersControllerBinding="controllers.filtersController"
}}
  <p>Filter by country:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "countryFilter"
    contentBinding = "controllers.filtersController.countriesContent"
    selectionBinding = "controllers.filtersController.countries"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}

  <p>
    Selected countries:
    {{#each controllers.filtersController.countries}}
      {{name}}
    {{/each}}
  </p>


  <p>Filter by region:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "regionFilter"
    contentBinding = "controllers.regionsController"
    selectionBinding = "controllers.filtersController.regions"
    optionLabelPath = "content.name"
    optionValuePath = "content.id"
  }}

  <p>
    Selected regions:
    {{#each controllers.filtersController.regions}}
      {{name}}
    {{/each}}
  </p>


  <p>Filter by appendix:</p>
  {{view Em.Select
    multiple = "true"
    viewName = "appendixFilter"
    contentBinding = "controllers.appendicesController"
    selectionBinding = "controllers.filtersController.appendices"
    optionLabelPath = "content.abbreviation"
    optionValuePath = "content.id"
  }}

  <p>
    Selected appendices:
    {{#each controllers.filtersController.appendices}}
      {{abbreviation}}
    {{/each}}
  </p>


  <p>
  {{view Ember.Checkbox checkedBinding="controllers.filtersController.taxonomicLayout"}} taxonomic layout
  </p>


  <button type="submit">Go</button>

  <hr />

  <p>
    {{view Checklist.SavedSearchView
      filtersControllerBinding="controllers.filtersController"
    }}
  </p>

  <hr>

  <h2>Download pdf version:</h2>
  <ul>
    <li>CITES species index:
      <a href="{{unbound view.indexPdfLink}}">full</a>
    </li>
    <li>history of CITES listings:
      <a href="{{unbound view.historyPdfLink}}">full</a>
    </li>
  </ul>

  {{#each controllers.taxonConceptController.content}}
    {{view Checklist.KingdomListView contentBinding="this"}}
  {{/each}}

{{/view}}
