<div class="dropdown-links-holder">
  <h3>{{t featured.title}}</h3>
  <ul class="dropdown-links">
    {{#each view.quickLinksForView}}
      <li>
        <a class="no-link" {{bindAttr id="this.btnId" href="this.href"}}>{{this.title}}</a>

        <div style="display:none">
          <div {{bindAttr id="this.id"}} class="lightbox downloads">
            <div class="heading-holder">
              <strong class="heading">{{this.title}}</strong>
            </div>
            <div class="text-holder">
              {{t downloads.popup.info}}

              <p>
                <ul class="ul-inline">
                  <li><a 
                    href="#" 
                    {{action "download" target="view" on="click"}} 
                    {{ bindAttr data-doc-type="this.doc_type" }} 
                    data-format="pdf" 
                    class="btn red">
                    PDF
                  </a></li>
                  <li><a 
                    href="#" 
                    {{action "download" target="view" on="click"}} 
                    {{ bindAttr data-doc-type="this.doc_type" }} 
                    data-format="csv" 
                    class="btn red">
                    CSV
                  </a></li>
                  <li><a 
                    href="#" 
                    {{action "download" target="view" on="click"}} 
                    {{ bindAttr data-doc-type="this.doc_type" }} 
                    data-format="json" 
                    class="btn red">
                    JSON
                  </a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>