{{#if view.showHigherTaxaBar}}
  {{view Ember.View templateName="higher_taxa"}}
{{else}}
  {{#unless view.isHigherTaxa}}
  <div class="column-holder">
    <div class="column-frame">
      <div class="column-container">
        <div class="column">
          <h2 style="{{unbound view.headingStyle}}">{{unbound view.full_name}}</h2>
          <ul class="details">
            <li>{{unbound class_name}}</li>
            <li>{{unbound family_name}}</li>
          </ul>
          <ul class="default-list">
            {{#if view.showSynonyms }}
              <li class="synonym">{{unbound synonyms}}</li>
            {{/if}}
            {{#if view.showEnglish }}
              <li>{{unbound english}} - ENG</li>
            {{/if}}
            {{#if view.showSpanish }}
              <li>{{ unbound spanish}} - SPA</li>
            {{/if}}
            {{#if view.showFrench }}
              <li>{{unbound french}} - FRE</li>
            {{/if}}
          </ul>
        </div>
        <div class="column">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <ul class="icons">
                  {{#each view.currentListingParts}}
                    <li>
                    <div class="circle {{unbound this.colour}}">{{unbound this.symbol}}</div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column style01">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <p>
                  {{view Checklist.CountryListingView
                  contentBinding="countries"}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="column-container">
          <div class="column">
            <div class="area-holder">
              <div class="area">
                <div class="area-b">
                  <div class="row color1">
                    <div class="circle blue category">I</div>
                  </div>
                  <div class="row color2">
                    <div class="circle green category">II</div>
                  </div>
                  <div class="row">
                    <div class="circle orange category">III</div>
                    <div class="line" style="width:88.8%;left:70px"></div>
                    <div class="arrow orange" style="right:0"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip" style="left:60px;"><div class="circle orange event">+</div></a>
                  </div>
                  <div class="text-holder">
                    <span>Appendix III per country classifications:</span>
                  </div>
                  <div class="row">
                    <div class="circle orange country">pe</div>
                    <div class="line" style="width:88.8%;left:70px"></div>
                    <div class="arrow orange" style="right:0"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip" style="left:60px;"><div class="circle orange event">+</div></a>
                  </div>
                  <div class="row">
                    <div class="circle orange country">co</div>
                    <div class="line" style="width:88.8%;left:70px"></div>
                    <div class="arrow orange" style="right:0"></div>
                    <div class="mark orange" style="left:60px"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opener-holder">
    <a href="#" class="opener">opener</a>
  </div>
  {{/unless}}
{{/if}}
