<div>
  <div class="appendix">CITES Appendix {{unbound species_listing_name}}</div>
  <div class="party">{{#if hasParty}}{{unbound party.name}}{{/if}}</div>
  <div class="effective_at">{{unbound effective_at}}</div>
</div>

{{#if hasParty}}
<strong class="heading">COUNTRY</strong>
<p>{{unbound party.name}}</p>
{{/if}}
<div class="text-frame">
  <strong class="heading">NOTES</strong>
  {{#if hasSpecificNote}}
  <p>{{{unbound specific_note}}}</p>
  {{/if}}
  {{#if hasGenericNote}}
  <strong class="heading">{{unbound symbol}}{{unbound parent_symbol}}</strong>
  <p>{{{unbound generic_note}}}</p>
  {{/if}}
</div>
