{{#if view.isHigherTaxa}}
  {{view Ember.View templateName="higher_taxa"}}
{{else}}
  <div class="column-holder">
    <div class="column-frame">
      <div class="column-container">
        <div class="column">
          <h2 style="{{unbound view.headingStyle}}">{{unbound view.full_name}}</h2>
          <ul class="details">
            <li>{{unbound class_name}}</li>
            <li>{{unbound family_name}}</li>
          </ul>
          <ul class="default-list">
            {{#if view.showSynonyms }}
              <li class="synonym">{{unbound synonyms}}</li>
            {{/if}}
            {{#if view.showEnglish }}
              <li>{{unbound english}} - ENG</li>
            {{/if}}
            {{#if view.showSpanish }}
              <li>{{ unbound spanish}} - SPA</li>
            {{/if}}
            {{#if view.showFrench }}
              <li>{{unbound french}} - FRE</li>
            {{/if}}
          </ul>
        </div>
        <div class="column">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <ul class="icons">
                  <li><div class="circle {{unbound view.designationColour}}">{{unbound current_listing}}</div></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column style01">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <p>
                  {{view Checklist.CountryListingView
                  contentBinding="countries"}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="column-container">
          <div class="column">
            <div class="area-holder">
              <div class="area">
                <div class="area-b">
                  <div class="row color1">
                    <img class="category" src="images/ico1.png" alt="image description" width="26" height="26" >
                  </div>
                  <div class="row color2">
                    <img class="category" src="images/ico2.png" alt="image description" width="26" height="26" >
                  </div>
                  <div class="row">
                    <img class="category" src="images/ico3.png" alt="image description" width="26" height="26" >
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip pos1"><span class="ico-plus">+</span></a>
                  </div>
                  <div class="text-holder">
                    <span>Appendix III per country classifications:</span>
                  </div>
                  <div class="row">
                    <div class="category">pe</div>
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip pos1"><span class="ico-plus">+</span></a>
                    <div class="mark pos1"></div>
                  </div>
                  <div class="row">
                    <div class="category">co</div>
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip pos1"><span class="ico-plus">+</span></a>
                    <div class="mark pos1"></div>
                  </div>
                  <div class="row">
                    <div class="category">GT</div>
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip pos2"><span class="ico-plus">+</span></a>
                    <div class="mark pos1"></div>
                  </div>
                  <div class="row">
                    <div class="category">bo</div>
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a href="#popup1" title="GT · FEB 08" class="ico tooltip pos3"><span class="ico-plus">+</span></a>
                    <div class="mark pos1"></div>
                  </div>
                  <div class="row">
                    <div class="category">br</div>
                    <div class="line pos1"></div>
                    <div class="arrow pos1"></div>
                    <a  href="#popup1" title="GT · FEB 08" class="ico tooltip pos4"><span class="ico-plus">+</span></a>
                    <div class="mark pos1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opener-holder">
    <a href="#" class="opener">opener</a>
  </div>
{{/if}}
