{{#unless has_events}}
  <div class="no-history-graphs">
    {{t timeline.nohistory}}
  </div>
{{/unless}}

<div class="area-b">
  {{collection Checklist.TimelineView contentBinding="timelines"}}
  {{collection Checklist.TimelineYearListView contentBinding="timeline_years"}}

  {{#if view.countryCount}}
    <a {{action "expandCountryTimeline" target="view"}} class="expandCountryTimeline">
      {{t timeline.party}}
    </a>

    <div class="country-timelines">
      {{#each timelines}}
        {{#if hasNestedTimelines}}
          <div class="text-holder">
            <span>{{t timeline.reservations appendixBinding="appendix"}}</span>
          </div>
          {{collection Checklist.TimelineView contentBinding="timelines"}}
          {{collection Checklist.TimelineYearListView contentBinding="view.content.timeline_years"}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>


{{#if has_descendant_timelines}}
  <div class="sub-timeline-note">
    {{t timeline.split}}
  </div>
{{/if}}