{{#if Checklist.taxonConceptController.taxonomicLayout }}
  <p class="level{{unbound content.depth}}">
{{else}}
  <p>
{{/if}}
    <span class="full_name">{{unbound content.full_name}}:</span>
    <span class="listing">{{unbound content.current_listing}}</span>
    <span class="family">{{unbound content.family_name}}</span>
    <span class="class">{{unbound content.class_name}}</span>
  </p>
