{{#if view.showHigherTaxaBar}}
  {{view Ember.View templateName="higher_taxa"}}
{{else}}
  {{#unless view.isHigherTaxa}}
  <div class="column-holder">
    <div class="column-frame">
      <div class="column-container">
        <div class="column">
          <h2 style="{{unbound view.headingStyle}}">
            {{{unbound view.full_name}}}

            {{#if recently_changed}}
              <a href="#" class="tooltip new-taxa" title="Recently Changed">
                <img src="/images/new-indicator.png" title="Recently Changed" alt="Recently Changed" />
              </a>
            {{/if}}
          </h2>
          {{#if view.showSynonyms }}
            <div class="synonym">({{unbound synonyms}})</div>
          {{/if}}
          <ul class="details">
            <li>{{unbound class_name}}</li>
            <li>{{unbound family_name}}</li>
          </ul>
          <ul class="default-list">
            {{#if view.showEnglish }}
              <li>ENG - {{collection Checklist.TaxonConceptCommonNameView
              contentBinding="view.english"}}</li>
            {{/if}}
            {{#if view.showSpanish }}
              <li>SPA - {{collection Checklist.TaxonConceptCommonNameView
              contentBinding="view.spanish"}}</li>
            {{/if}}
            {{#if view.showFrench }}
              <li>FRE - {{collection Checklist.TaxonConceptCommonNameView
              contentBinding="view.french"}}</li>
            {{/if}}
          </ul>
        </div>
        <div class="column">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <ul class="icons">
                  {{#each view.currentListingParts}}
                    <li>
                    <div class="circle {{unbound this.colour}}">{{unbound this.symbol}}</div>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="column style01">
          <div class="column-area">
            <div class="holder">
              <div class="frame">
                <p>
                  {{view Checklist.CountryListingView
                  contentBinding="countries"}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="column-container">
          <div class="column">
            <div class="area-holder">
              {{view Checklist.TaxonConceptHistoryView
                contentBinding="timelines_for_taxon_concept"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opener-holder">
    <div class="opener">&#9660;</div>
    <div class="closer">x</div>
  </div>
  {{/unless}}
{{/if}}
