<div class="listing-section">
  <div class="listing-section-header">
    <div class="appendix">CITES Appendix {{unbound species_listing_name}}</div>
    <div class="party">{{#if hasParty}}{{unbound party.name}}{{/if}}</div>
    <div class="effective_at">{{unbound effective_at}}</div>
  </div>
  <div class="text-frame">
    {{#if auto_note}}
      <p>{{unbound auto_note}}</p>
    {{/if}}
    {{#if hasFullNote}}
    <p class="long-note">{{{unbound full_note_en}}}</p>
    {{else}}
      {{#if hasShortNote}}
    <p class="short-note">{{{unbound short_note_en}}}</p>
      {{/if}}
    {{/if}}
    <p class="short-note">{{unbound hash_ann_symbol}}{{unbound hash_ann_parent_symbol}}</p>
    {{#if hasHashFullNote}}
    <p class="long-note">{{{unbound hash_full_note_en}}}</p>
    {{/if}}
  </div>
</div>
