<div class="area-b">
  {{#each timelines}}
    {{view Checklist.TimelineView contentBinding="this"}}
  {{/each}}
  {{collection Checklist.TimelineYearListView contentBinding="timeline_years"}}
  {{#each timelines}}
    {{#if timelines.length}}
      <a href="#" {{action "expandCountryTimeline" target="view"}}>
        <span>See {{unbound timelines.length}} per country
          classifications</span>
      </a>
      <div class="country-timelines">
        <div class="text-holder">
          <span>Appendix {{unbound appendix}} per country reservations:</span>
        </div>
        {{#each timelines}}
          {{view Checklist.TimelineView contentBinding="this"}}
        {{/each}}
        {{collection Checklist.TimelineYearListView contentBinding="view.content.timeline_years"}}
      </div>
    {{/if}}
  {{/each}}
</div>
