{{#if view.noTimelinesAvailable}}
  <div class="no-history-graphs">
    No history information is available for this taxa.
  </div>
{{/if}}

<div class="area-b">
  {{#each timelines}}
    {{view Checklist.TimelineView contentBinding="this"}}
  {{/each}}
  {{collection Checklist.TimelineYearListView contentBinding="timeline_years"}}

  {{#if view.countryCount}}
    <a href="#" {{action "expandCountryTimeline" target="view"}}>
      {{tt timeline.party countBinding="view.countryCount"}}
    </a>

    <div class="country-timelines">
      {{#each timelines}}
        {{#if hasNestedTimelines}}
          <div class="text-holder">
            <span>Appendix {{unbound appendix}} per country reservations:</span>
          </div>
          {{#each timelines}}
            {{view Checklist.TimelineView contentBinding="this"}}
          {{/each}}
          {{collection Checklist.TimelineYearListView contentBinding="view.content.timeline_years"}}
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>
