<div class="circle {{unbound view.colour}} event {{unbound view.eventClass}}">{{unbound view.eventSymbol}}</div>

<div style="display: none">
  <div class="lightbox" id="popup{{unbound id}}">
    <div class="heading-holder">
      <strong class="heading">{{unbound view.eventDescription}} · <em class="date">{{unbound effective_at}}</em></strong>
    </div>
    <div class="text-holder">
      {{#if view.hasParty}}
      <strong class="heading">COUNTRY</strong>
      <p>{{party}}</p>
      {{/if}}
      <div class="text-frame">
        <strong class="heading">NOTES</strong>
        {{#if view.hasNotes}}
        <p>{{unbound specific_notes}}</p>
        <strong class="heading">{{unbound symbol}}{{unbound parent_symbol}}</strong>
        <p>{{unbound generic_notes}}</p>
        {{else}}
        <p>---</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
